body {
    background-color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body {
	text-align: center;
}
h3 {
	text-align: center;
}
div {
	max-width: 500px;
	margin: auto;
    text-align: center;
    align-content: center;
    align-self: center;
    display: flex;
    align-items: center;
}
.input-icons {
	width: 100%;
	margin-bottom: 10px;
}
.input-icons i {
	position: absolute;
}
.icon {
	padding: 10px;
	min-width: 40px;
}
.input-field {
	width: 100%;
	padding: 10px;
	text-align: center;
}
input:focus {
    border-bottom: 1px soild white;
    color: white;
}
input {
    background: none;
    color: gray;
    border: none;

}
button {
    background: none;
    color: white;
    border: none;

}

input {
    font-size: 25px;
}